@use '../utiles/colors';
@use '../utiles/mixins';
.header {
    border-bottom: 1px solid #ECECEC;

    &__container {
        display: flex;
        align-items: center;
    }
    &__logo {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        color: colors.$accent-color;
        margin-right: 97px;
    
}
}
.headerNav__list {
    display: flex;
}

.headerNav__item:not(:last-child) {
    margin-right: 53px;
}

.headerNav__link {
    display: block;
    padding: 32px 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: colors.$primary-text-color;
    transition-property: color;
    transition-duration: mixins.$duration;
    transition-timing-function: mixins.$timing-function;


    &:focus {
        color: colors.$accent-color;
    }
  
}

.headerCurrent__link {
    position: relative;
    color: colors.$accent-color;


    &::after {
        position: absolute;
        content: "";
        width: 48px;
        height: 4px;
        background: colors.$accent-color;
        border-radius: 2px;
        top: 76px;
        left: 0px;
        
    }
}

.headerContacts {
    display: flex;
    margin-left: auto;

    &__item:not(:last-child) {
        margin-right: 50px;
    
    }

    &__svg {
        margin-right: 10px;
        fill: currentColor;


}
}
.headerContacts__link {
    display: flex;
    align-items: center;
    padding: 32px 0px;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    color: colors.$secondary-text-color;
    transition-duration: mixins.$duration;
    transition-timing-function: mixins.$timing-function;
    transition-property: color;


    &:hover,
    &:focus {
        color: colors.$accent-color;
    }


}
.menu-toggle {
    display: none;
    border: none;
    fill: transparent;
    background-color: transparent;
    margin: 10px 15px 10px auto ;

    
&:hover,
&:focus {
            transition-duration: mixins.$duration;
            transition-timing-function: mixins.$timing-function;
            fill: #2196F3;
            cursor: pointer;
}    

}
  /*@media screen and (min-width: 481px) {
      .menu-toggle {
          display: none;

      }
  }*/

@media screen and  (max-width: 767px){
.header {  

        &__container {
            width: auto;
                height: 60px;
            }


        &__logo {
        

                width: 134px;
                height: 28px;
                font-size: 24px;
                line-height: calc(28px / 24px);
                margin: 16px 0px;
                letter-spacing: 0.03em;
                font-style: normal;
            }

        }

        .headerNav__list {
            
                display: none;

            }
        

        

        .headerNav__link {
            display: none;
                padding-top: 0px;
                padding-bottom: 32px;
                font-size: 40px;
                line-height: 47px;
            }



            .headerCurrent__link::after {
                
                    display: none;
                }
            
        

        .headerContacts {

                display: none;
            

            &__svg {
                display: none;

        }

    }
       
.menu-toggle {
            
                display: flex;
            }
}



@media screen and (min-width: 768px) and (max-width: 1199px){
.header {
                height: 80px;
                padding: 0px;
            

        &__logo {
            
                width: 134px;
                height: 28px;
                font-size: 24px;
                line-height: calc(28px / 24px);
                margin: 26px 88px 26px 0px;
                letter-spacing: 0.03em;
                font-style: normal;
            }
        }

        



        .headerContacts {
            
                display: block;
                margin-left: auto;
                padding: 0px;
                margin-left: 93px;
            

            &__item:not(:last-child) {
                
                    padding-bottom: 10px;
                }
        }

        .headerContacts__link {
            
                padding: 0px;
                font-size: 12px;
                letter-spacing: 0.02em;
            }
        }

           


        




