@use '../utiles/colors';
body {
    font-family: "Roboto", sans-serif;
    background: colors.$secondary-title-color;
    color: colors.$primary-title-color;
    letter-spacing: 0.03em;
    margin: 0;

}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}
.logo {
    display: flex;
}