@use '../utiles/colors';
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
    text-align: center;
    letter-spacing: 0.03em;
    color: colors.$primary-text-color;
    margin-bottom: 50px;
@media screen and (min-width: 320px) and (max-width: 479px){
    margin-bottom: 30px;
}
@media screen and (min-width: 480px) and (max-width: 767px){
    margin-bottom: 30px;
}
}