@use '../utiles/colors';
@use '../utiles/mixins';
.customer {
    padding-top: 94px;
    padding-bottom: 94px;

    

    &__list {
        width: auto;
        display: flex;
        margin: 0 auto;
    
    }

    &__item:not(:last-child) {
        margin-right: 25px;
    
    }

    &__link {
        width: 170px;
        height: 92px;
        color: #AFB1B8;
        background-color: colors.$secondary-title-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
    
    }

    &__link:hover,
    &__link:focus {
        color: colors.$accent-color;
        border-color: colors.$accent-color;
    }

    &__svg {
        fill: currentColor;
        transition-duration: mixins.$duration;
        transition-timing-function: mixins.$timing-function;
        transition-property: color, border-color;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .customer {
        
        padding-top: 60px;
        padding-bottom: 60px;

        &__container {
            width: 90.65%;
            height: 100%;

        }

        &__list {
            
            margin: 0px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;

        }

        &__item{
            width: 44.8%;
            
        }
        &__item:not(:last-child) {
            
            margin-right: 0px;

        }

        &__link {
        width: 100%;
           
            height: 90px;

        }

        &__svg {
            width: 100%;
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 767px){
.customer {
         
            padding-top: 60px;
            padding-bottom: 60px;

        &__container {
            width: 93.75%;
            height: 399px;
            
        }

        &__list {
            
                margin: 0px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 30px;
            
        }
        &__item{
            width: 46.65%;
            
        }
        &__item:not(:last-child) {
            
                margin-right: 0px;
            
        }

        &__link {
               
                width: 100%;
                height: 90px;
                
            
        }
        &__svg{
            width: 100%;
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1199px){
.customer {
        
            padding-top: 60px;
            padding-bottom: 60px;
        

        &__container {
            
                width: 738px;
                height: 277px;
            
        }

        &__list {
            
                margin: 0px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 30px;
            
        }

        &__item:not(:last-child) {
            
                margin-right: 0px;
            
        }

        &__link {
            
                width: 224px;
                height: 90px;
            
        }

    }
}