@use '../utiles/colors';
.do {
    padding-top: 0;

@media screen and (min-width: 480px) and (max-width:767px){
    display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    display: none;
}
    &__list {
        display: flex;
        justify-content: center;
    }

    &__box {
        position: absolute;
        top: 224px;
        width: 370px;
        background: rgba(47, 48, 58, 0.8);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1428571429;
        text-align: center;
        text-transform: uppercase;
        color: colors.$secondary-title-color;
        padding-top: 27px;
        padding-bottom: 27px;
    }
}

.doItem {
    position: relative;


    &:not(:last-child) {
        margin-right: 30px;
    }
}