@use '../utiles/colors';

.features {
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
        display: flex;
        margin: 0px;
        
    
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1428571429;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: colors.$primary-text-color;
        margin-bottom: 10px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7142857143;
        letter-spacing: 0.03em;
        color: colors.$secondary-text-color;
    }
}

.featuresTitleHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features__item {
    width: 270px;

&:not(:last-child) {
        margin-right: 30px;

    }
}

.featuresIconItem {
    padding: 25px 100px;
    
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;


}

@media screen and (min-width: 320px) and (max-width: 479px){
    .features {
            width: auto;
            padding-top: 60px;
            padding-bottom: 60px;
            
            &__list {
                width: auto;
                justify-content: center;
                flex-direction: column;
                align-items: center;
    
            }
    
    
        }
    
    
    
        .features__item {
    
            width: 100%;
            
            &:not(:last-child) {
    
                margin-right: 0px;
                margin-bottom: 30px;
    
            }
        }
    
        .featuresIconItem {
            padding: 8.6% 34.8%;
    
            &:not(:last-child) {
    
                margin-right: 0px;
    
            }
        }
}

@media screen and (min-width: 480px) and (max-width: 767px){
.features {
        width: auto;
            padding-top: 60px;
            padding-bottom: 60px;
        

        &__list {
            width: auto;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            
        }
        

    }

    

    .features__item {
        
            width: 100%;
        
        
        &:not(:last-child) {
            
                margin-right: 0px;
                margin-bottom: 30px;
            
        }
    }

    .featuresIconItem {
        padding: 5.3% 39.6%;
        &:not(:last-child) {
            
                margin-right: 0px;
            
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
.features {
        
align-items: center;
        justify-content: center;
            padding-top: 60px;
            padding-bottom: 60px;
        

        &__list {
            
                justify-content: center;
                
                flex-wrap: wrap;
                gap: 30px;
            }
}

        

        
    

    

    .features__item {
        
            width: 354px;
        

        &:not(:last-child) {
            
                margin-right: 0px;
                margin-bottom: 0px;
            }
        }
    

    .featuresIconItem {
        
            padding: 25px 142px;
            background-color: #F5F4FA;
            border-radius: 4px;
            margin-bottom: 30px;
        

        &:not(:last-child) {
            
                margin-right: 0px;
            }
        }
}