@use '../utiles/colors';
.features {
    padding-top: 94px;
    padding-bottom: 94px;
@media screen and (min-width: 480px) and (max-width:767px){
    padding-top: 60px;
        padding-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    padding-top: 60px;
        padding-bottom: 60px;
}
    &__list {
        display: flex;
        justify-content: center;
    @media screen and (min-width: 480px) and (max-width:767px){
    justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px){
        justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
    }
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1428571429;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: colors.$primary-text-color;
        margin-bottom: 10px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7142857143;
        letter-spacing: 0.03em;
        color: colors.$secondary-text-color;
    }
}

.featuresTitleHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features__item {
    width: 270px;
@media screen and (min-width: 480px) and (max-width:767px){
    width: 450px;
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    width: 354px;
}
    &:not(:last-child) {
    margin-right: 45px;
    @media screen and (min-width: 480px) and (max-width:767px){
    margin-right: 0px;
    margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px){
        margin-right: 0px;
            margin-bottom: 0px;
        }
    }
}

.featuresIconItem {
    padding: 25px 100px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
@media screen and (min-width: 480px) and (max-width:767px){
    padding: 25px 190px;
        background-color: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    padding: 25px 142px;
        background-color: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
}
    &:not(:last-child) {
        margin-right: 30px;
    @media screen and (min-width: 480px) and (max-width:767px){
        margin-right: 0px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px){
        margin-right: 0px;
    }
    }
}