.team {
    background-color: #F5F4FA;


    &__list {
        display: flex;
        justify-content: center;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1875;
        color: $primary-text-color;
        text-align: center;
        padding-top: 30px;
        margin: 0px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.1875;
        color: $secondary-text-color;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 10px;
    }
}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;


    &:not(:last-child) {
        margin-right: 30px;
    }
}


.teamIcon__Container {
    padding: 16px 32px 30px 32px;
    margin: 0 auto;
}

.teamIcon__List {
    display: flex;
    justify-content: center;
    align-items: center;
    Width: 206px;
    Height: 44px;
    margin: 0 auto;
}

.teamIcon__item:not(:last-child) {
    margin-right: 10px;
}

.teamSocial__link {
    Width: 44px;
    Height: 44px;
    color: #AFB1B8;
    background-color: $secondary-title-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition-duration: $duration;
    transition-timing-function: $timing-function;
    transition-property: color, background-color;


    &:hover,
    &:focus {
        color: $secondary-title-color;
        background-color: $accent-color;
    }
}

.teamSocial__svg {
    fill: currentColor;
}